<app-header></app-header>
<div class="row">

  <div class="col-6">
    <h2>Your stories</h2>
    <div class="row">
      <div class="col-3">Headline</div>
      <div class="col-3">Summary</div>
      <div class="col-3">Image_URL</div>
      <div class="col-3">Actions</div>

    </div>
    <div *ngFor = "let news of newsList" class="row">
      <div class="col-3">{{news.headline}}</div>
      <div class="col-3">{{news.summary}}</div>
      <div class="col-3">{{news.image_url}}</div>
        <div class="row">
          <div class="col-6"><button class="mat-raised-button" (click)="updateNews(news.id)">Update</button></div>
          <div class="col-6"><button class="mat-raised-button" (click)="deleteNews(news.id)">Delete</button></div>
        </div>

      </div>
    </div>
  </div>
