<app-header></app-header>
<div class="row" style="margin: 6em -18em 0em 14em;">

    <div class="col-6">
        <h2>Your stories</h2>
        <button class="mat-raised-button" style="margin: 20px; margin-left: 0px" (click)="createNews()">Create a news
            story
        </button>
        <div class="row">
            <div class="col-3">Headline</div>
            <div class="col-3">Summary</div>
            <div class="col-3">Image_URL</div>
            <div class="col-3">Actions</div>

        </div>
        <div *ngFor="let news of newsList" class="row">

            <div class="card" style="height: 100%; width:100%; padding: 20px; margin-bottom: 20px">
                <div class="row">
                    <div class="col-3">{{news.headline}}</div>
                    <div class="col-3">{{news.summary}}</div>
                    <div class="col-3">{{news.image_url}}</div>
                    <div class="col-3">
                        <div class="row" style="margin-left:-2em;">
                            <div class="col-sm-6">
                                <button class="mat-raised-button" (click)="updateNews(news.id)">Update</button>
                            </div>
                            <div class="col-sm-6">
                                <button class="mat-raised-button" (click)="deleteNews(news.id)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>