
<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <app-admin-sidebar></app-admin-sidebar>
    </div>



    <div class="col-8">
      <div class="row">
        <button class="mat-raised-button" (click)="">Create a new User</button>
      </div>

      <div *ngFor="let user of userList">

        {{user.id}}
        {{user.firstname}}
        {{user.lastname}}
        {{user.email}}
        {{user.preference}}
        <button (click)="deleteUser(user.id)">Delete</button>
        <button (click)="updateUser(user.id)">Update</button>

      </div>
    </div>
  </div>
</div>