<div class="collection">
    <ul class="list-group">
        <li  *ngIf="isLoggedIn" class="list-group-item">
            <a routerLink="/myfeed" routerLinkActive="active">
                Myfeed</a>
        </li>
        <li class="list-group-item ">
            <a routerLink="/sports" >Sports</a>
        </li>
        <li class="list-group-item"><a routerLink="/entertainment"> Entertainment</a></li>
        <li class="list-group-item"><a routerLink="/science"> Science</a></li>
        <li class="list-group-item"><a routerLink="/business">Business</a></li>

    </ul>


</div>