<div class="collection">
    <ul class="list-group">
        <li  *ngIf="isLoggedIn" class="list-group-item">
            <a routerLink="/myfeed" routerLinkActive="active">
                Myfeed</a>
        </li>
        <li class="list-group-item ">
            <a routerLink="/sports" >Sports</a>
        </li>
        <li class="list-group-item">Entertainment</li>
        <li class="list-group-item">Science</li>
        <li class="list-group-item">Health</li>
        <li class="list-group-item">Technology</li>
        <li class="list-group-item">Sports</li>

    </ul>


</div>