<app-header></app-header>


<div class="container-fluid" style="margin-top: 100px">

    <div class="row">
        <div class="col-11">
            <div class="row">
                <div class="col-4"><a routerLink="/admin/newsManagement">News Management</a> </div>
                <div class="col-4"><a routerLink="/admin/userManagement">User Management</a> </div>
                <div class="col-4"><a routerLink="/admin/contactManager">Contact Form Management</a> </div>

            </div>
        </div>
    </div>
</div>